<?xml version="1.0" encoding="utf-8" ?>
<!--仅适用于.netframework 4.0以下版本-->
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Data.Orm.Dapper">
    <components>
      <!--ORM-Dapper-->
      <component type="Data.Orm.Dapper.SqlServerDatabase, Data.Orm.Dapper" service="Data.DbFactory.IDatabase" />
      <component type="Data.Orm.Dapper.MysqlDatabase, Data.Orm.Dapper" service="Data.DbFactory.IDatabase" />
      <!--ORM-EF-->
      <component type="Data.Orm.Dapper.SqlServerDatabase, Data.Orm.EF" service="Data.DbFactory.IDatabase" />
      <component type="Data.Orm.Dapper.MysqlDatabase, Data.Orm.EF" service="Data.DbFactory.IDatabase" />
    </components>
  </autofac>
</configuration>